langchain==0.1.6
langchain-community
transformers
beautifulsoup4
faiss-cpu
huggingface-hub
sentence-transformers
google-search-results
numexpr
langchainhub
wikipedia
bitsandbytes
langchain-cli
fireworks-ai
langserve[all]
pydantic==1.10.13
langchain[docarray]
pandas
chromadb
peft
datasets
evaluate